body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    color: #543d2b;
    font-size: 1.5em;
    font-weight: 700;
}

h2 {
    color: #543d2b;
    font-size: 1.1em;
    font-weight: 700;
    margin: 15px 0 0 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cover-panel {
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    background-color: #04819e;
}

.text-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3em 2em;
    text-align: center;
}

.beans {
    width: 20%;
    margin: 0 0 20px 0;
}

.cover-container div {
    color: #ffffff;
    font-size: 1.5em;
    position: relative;
}

.logo {
    width: 100%;
}

.scrollArrow {
    height: 50px;
    width: 50px;
    opacity: 1;
    transition: opacity .5s ease;
}

.scrollArrow:hover {
    height: 50px;
    opacity: .5;
    transition: opacity .5s ease;
}

.scrArr-container {
    position: absolute;
    width: 50px;
    left: 0;
    right: 0;
    bottom: -50px;
    margin: 0 auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrArr-txt-container {
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}

.img-right,
.img-left,
.img-1,
.img-2,
.img-3,
.img-4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.social-icon {
    display: inline-block;
    width: 40px;
    margin: 15px;
}

.footer {
    background-color: #04819e;
}

.footer-content {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-style: italic;
    padding: 20px 20px 50px 20px;
}


/* Small only */

@media screen and (max-width: 39.9375em) {
    .logo {
        width: 65%;
    }
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .9);
        padding: .5em 1em .5em 1em;
        z-index: 2;
        color: #ffffff;
    }
    .menu a {
        display: block;
    }
    .nav a {
        color: #ffffff;
        font-size: 1em;
        padding: 30px 40px 30px 40px;
        transition: all .5s ease;
    }
    .nav a:hover {
        color: #ff7f00;
        transition: all .5s ease;
    }
    .nav .nav-logo {
        /*    display: none;
    opacity: 0;*/
    }
    .nav-logo {
        display: inline-block;
        height: 2em;
        float: left;
        opacity: 1;
        transition: opacity .5s ease;
    }
    .nav-logo img {
        height: 100%;
    }
    .nav-logo a {
        padding: 0;
    }
    .menu {
        display: inline-block;
        font-size: 1em;
        margin: 0;
        position: absolute;
        right: 0;
        top: 3em;
        /*border: 1px solid #ffffff;*/
        background-color: rgba(0, 0, 0, .9);
        opacity: 0;
        transition: opacity .5s ease;
    }
    .menu-visible {
        opacity: 1;
        transition: opacity .5s ease;
    }
    .hamburger {
        display: inline-block;
        position: absolute;
        right: 1em;
        top: .75em;
        bottom: .75em;
        width: 1.5em;
        height: 1.5em;
        background: linear-gradient( to bottom, #ffffff, #ffffff 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 40%, #ffffff 40%, #ffffff 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, #ffffff 80%, #ffffff 100%);
    }
    .text-panel {
        min-height: 70vh;
        justify-content: space-between;
    }
    .cover-panel,
    .image-panel {
        height: 30vh;
        position: relative;
    }
    .image-panel {
        border-top: 6px solid #04819e;
    }
    .img-2 {
        background: url(../images/coffee-roaster_sm.jpg) no-repeat 100% 80%;
        background-size: 130% auto;

        background-image: -webkit-image-set(
            url(../images/coffee-roaster_sm.jpg) 1x,
            url(../images/coffee-roaster_md.jpg) 2x
        );
        background-image: image-set(
            url(../images/coffee-roaster_sm.jpg) 1x,
            url(../images/coffee-roaster_md.jpg) 2x
        );

    }
    .img-3 {
        background: url(../images/coffee-cup_sm.jpg) no-repeat 100% center;
        background-size: 120% auto;

        background-image: -webkit-image-set(
            url(../images/coffee-cup_sm.jpg) 1x,
            url(../images/coffee-cup_md.jpg) 2x
        );
        background-image: image-set(
            url(../images/coffee-cup_sm.jpg) 1x,
            url(../images/coffee-cup_md.jpg) 2x
        );
    }
    .img-4 {
        background: url(../images/coffee-smartphone_sm.jpg) no-repeat 100% center;
        background-size: 120%;

        background-image: -webkit-image-set(
            url(../images/coffee-smartphone_sm.jpg) 1x,
            url(../images/coffee-smartphone_md.jpg) 2x
        );
        background-image: image-set(
            url(../images/coffee-smartphone_sm.jpg) 1x,
            url(../images/coffee-smartphone_md.jpg) 2x
        );
    }
    .bg-images {
        display: none;
    }
}


/* Medium and up */

@media screen and (min-width: 40em) {
    .nav {
        color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: .5em 0 .5em 0;
        height: 76px;
    }
    .nav a {
        color: #ffffff;
        font-size: 1em;
        vertical-align: middle;
        padding: 0 10px 3px 10px;
        margin: 10px 0 10px 0;
        border-right: 1px solid #ffffff;
        transition: all .5s ease;
    }
    .nav a:last-of-type {
        border-right: none;
    }
    .nav a:hover {
        color: #ff7f00;
        transition: all .5s ease;
    }
    .nav .nav-logo {
        display: none;
        opacity: 0;
    }
    .nav-fixed {
 position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 76px;
        background-color: rgba(0, 0, 0, .9);
        padding: .5em 1em .5em 1em;
        z-index: 2;
        color: #ffffff;
        transition: background-color .5s ease;
    }
    .nav-fixed a {
        color: #ffffff;
        font-size: 1em;
        vertical-align: middle;
        padding: 0 10px 3px 10px;
        margin: 10px 0 10px 0;
        border-right: 1px solid #ffffff;
        transition: all .5s ease;
    }
    .nav-fixed a:hover {
        color: #ff7f00;
        transition: all .5s ease;
    }
    .nav-fixed a:last-of-type {
        border-right: none;
    }
    .nav-logo {
        display: inline-block;
        height: 60px;
        float: left;
        opacity: 1;
        transition: opacity .5s ease;
    }
    .nav-logo img {
        height: 80%;
        margin: 10% 0 10% 0;
    }
    .nav-logo a {
        padding: 0;
    }
    .nav-fixed .menu {
        float: right;
    }
    .menu {
        display: inline-block;
        font-size: 1em;
        margin: 1em .0 1em 0;
    }
    .text-panel {
        min-height: 100vh;
        justify-content: start;
        background-color: #ffffff;
    }
    .cover-panel,
    .image-panel {
        min-height: 100vh;
        position: relative;
    }
    .image-panel {
        position: relative;
    }
    .bg-images {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }
    .img-left {
        background: #fff url(../images/coffee-bean-cup_md.jpg) no-repeat 0 center/cover;
    }
    .img-right {
        background: #fff url() no-repeat 0 center/cover;
    }
}

/* minor adjustments for lower range of medium */

@media screen and (min-width: 39.9376em) and (max-width: 50em) {
    .nav a {
        font-size: 1em;
        padding: 0 8px 3px 8px;
    }

}
